@media (max-width: 1500px) {
    .gallery-content {
        display: block;

    }
    .gallery-content img,
    .gallery-up,
    .gallery-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery-content img {
        margin-bottom: 20px;
    }
    .gallery-left {
        margin-right: 0;
    }
}